.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #00AAFF, #00FF6C);
}

.calculator-grid{
  display: grid;
  align-items: center;
  /* background-color: #333; */
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
  /* gird-template-rows: repeat(6, 7rem); */
  background-color: rgba(255, 255, 255, 0.6);
}

.out-put{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #333;
  grid-column: span 4;
  text-align: right;
  padding: 0.5rem;
  font-size: 24px;
  color: white;
}
.out-put .output-text{
  height: 24px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7);
}

.out-put .output-result{

}

.btn{
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .6);
  color: black;
  border: 1px solid white;
  font-size: 24px;
  cursor: pointer;
}

.ac,
.equal{
  grid-column: span 2;
}

.calculator-grid .btn:hover,
.calculator-grid .btn:focus {
  background-color: rgba(255, 255, 255, .9);
}